body {
  background-color: rgb(203, 220, 214);
  margin: 3rem;
  font-family: 'Roboto';
  font-size: 1.25rem;
}

header
{
    text-align: center;
}

form
{
    width: 30rem;
    margin: 3rem auto;
    background-color:rgb(255, 255, 255);
    border-radius: 6px;
    padding: 1rem 2rem;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.25);
}

input
{
    width: 100%;
    box-sizing: border-box;
    display: block;
    margin-top: 12px;
    height: 2rem;
    border-radius: 3px;
}

input:focus,textarea:focus,select:focus
{
    background-color: rgb(217, 242, 234);
    border: none;
    border-color: rgb(217, 242, 234);
}
ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}


.item
{
    margin-top: 18px;
    margin-bottom: 18px;
}

.item label
{
    padding: 12px 0px;
}

#message
{
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

#message label
{
    margin-bottom: 12px;
}

#source
{
    display: flex;
    flex-direction: column;
}

#source label
{
    margin: 12px 0;
}

#source select
{
    height: 30px;
    font-size: 1.25rem;
}

.info
{
    display: flex;
    align-items: center;
}

.info input
{
    width: auto;
    margin-right: 0.5rem;
    margin-left: 1rem;
}

.terms 
{
    display: flex;
    margin: 15px 0;
    align-items: center;
}

.terms input
{
    width: auto;
    margin-left: 1rem ;
    margin-right: 0.5rem ;

}


#buttons
{
    display: flex;
    justify-content: end;   
}

#clear,#submit
{
    width: auto;
    margin-left: 8px;
    padding: 8px 24px;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
}
#submit
{   
    color: white;
    background-color: rgb(78, 61, 91);
}

#clear
{
    background-color: white;
}

#submit:hover
{
    background-color: rgb(70, 48, 86) ;
}

#clear:hover
{
    background-color: rgb(244, 251, 251);
}